* {
    margin: 0;
    padding: 0;
}

body {
    
}

.game-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #e9e9e9;

    .grid {
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        height: 500px;
        background: #eee;

        .grid-item {
            width: 25px;
            height: 25px;
            border: 1px solid #eee;
            background: #c9c9c9;
            box-sizing: border-box;
            cursor: pointer;

            &:hover {
                background: #eee;
            }
        }
        .grid-item.current-police {
            background: url(../img/police.png);
            background-size: contain;
            background-repeat: no-repeat;
        }
        .grid-item.current-thief {
            background: url(../img/thief.png);
            background-size: contain;
            background-repeat: no-repeat;
        }

        .grid-item.disabled {
            pointer-events: none;
            background: #5d5d5d;
            &:hover {
                background: #5d5d5d;
            }
        }
    }
}