* {
  margin: 0;
  padding: 0;
  font-family: 'Sintony', sans-serif;
}

body {
  background: #f7f7f7;
}

.btn {
  display: inline-block;
  min-width: 100px;
  margin: 10px auto;
  padding: 5px 10px;
  background: none;
  background: #000;
  color: #fff;
  line-height: 30px;
  border: 0;
  cursor: pointer;
}

.btn:hover {
  background: #fff;
  color: #000;
}

@-webkit-keyframes updateStats {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    font-weight: bold;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes updateStats {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    font-weight: bold;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.updateStats {
  -webkit-animation: updateStats 250ms linear infinite;
          animation: updateStats 250ms linear infinite;
}

h1 {
  font-size: 2rem;
  padding: 0.5rem;
  background: #fff;
  text-align: center;
}

.game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #f7f7f7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 850px) {
  .game-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 90vh;
  }
}

.game-container .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  background: #eee;
}

.game-container .grid .grid-item {
  width: 30px;
  height: 30px;
  border: 1px solid #eee;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  pointer-events: none;
}

@media (min-width: 400px) {
  .game-container .grid {
    width: 400px;
  }
  .game-container .grid .grid-item {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 500px) {
  .game-container .grid {
    width: 500px;
  }
  .game-container .grid .grid-item {
    width: 50px;
    height: 50px;
  }
}

.game-container .grid .grid-item.player-1 {
  background: url(../img/police.png), #fff;
  background-size: contain;
  background-repeat: no-repeat;
}

.game-container .grid .grid-item.player-2 {
  background: url(../img/thief.png), #fff;
  background-size: contain;
  background-repeat: no-repeat;
}

.game-container .grid .grid-item.disabled {
  background: url(../img/dimmed-cell.png), #fff;
  background-size: contain;
  background-repeat: no-repeat;
}

.game-container .grid .grid-item.weapon-attack {
  background: url(../img/weapon-attack-1.png), #fff;
  background-size: contain;
  background-repeat: no-repeat;
}

.game-container .grid .grid-item.weapon-attack-super {
  background: url(../img/weapon-attack-super.png), #fff;
  background-size: contain;
  background-repeat: no-repeat;
}

.game-container .grid .grid-item.weapon-defense {
  background: url(../img/weapon-defense-1.png), #fff;
  background-size: contain;
  background-repeat: no-repeat;
}

.game-container .grid .grid-item.weapon-health {
  background: url(../img/weapon-health.png), #fff;
  background-size: contain;
  background-repeat: no-repeat;
}

.game-container .grid .grid-item.highlighted {
  -webkit-box-shadow: inset 0px 0 10px 1px #e0e0e0;
          box-shadow: inset 0px 0 10px 1px #e0e0e0;
  pointer-events: all;
}

.game-container .grid .grid-item.player-1, .game-container .grid .grid-item.player-2 {
  pointer-events: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.game-container .dashboard {
  width: 50%;
  padding: 10px;
  text-align: center;
  background: #fff;
  border: 1px solid #cecece;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.game-container .dashboard .player-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.game-container .dashboard .stats {
  list-style: none;
  font-size: 0.9rem;
}

@media (min-width: 850px) {
  .game-container .dashboard {
    width: 150px;
    margin-right: 25px;
  }
  .game-container .dashboard .player-name {
    font-size: 2rem;
  }
  .game-container .dashboard .stats {
    font-size: 1.1rem;
  }
}

.game-container .dashboard.active-turn {
  background: #dedede;
}

@media (min-width: 850px) {
  .game-container .dashboard:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-right: 0;
    margin-left: 25px;
  }
}

.combat-mode {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.combat-mode .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  background: #eee;
}

.combat-mode .inner h2 {
  width: 100%;
  font-size: 2.5rem;
  padding: 1rem;
  background: #f5f5f5;
}

.combat-mode .inner h2 span {
  color: #ff0000;
}

.combat-mode .inner .player {
  width: 50%;
  padding: 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.combat-mode .inner .player .player-name {
  font-size: 2rem;
  margin-bottom: 20px;
}

.combat-mode .inner .player .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  list-style: none;
}

.combat-mode .inner .player .stats li {
  width: 50%;
}

.combat-mode .inner .player.active-turn {
  background: #dedede;
}

.combat-mode .actions {
  width: 100%;
}

.combat-mode.visible {
  visibility: visible;
}
/*# sourceMappingURL=main.css.map */